@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Admín account: admin@admin.fi</p>
    <p>Password:Asdf1234!</p>
</div>
